.page_title {
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
    background-color: rgb(71, 148, 81);
    font-size: 10;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;

}

.monkey_title {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.login {
    
    float: right;
}

.subtitle {
    font-weight: 100;
    font-size: 50;
    border: 1px solid black;
    background-color: rgb(79, 177, 87);
    box-sizing: border-box;
}

.link_one {
    margin-left: 15px;

}

.link_two {
    margin-left: 15px;
}

.monkey {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}